services:
  apache:
    build:
      context: .
      dockerfile: ./httpd/Dockerfile
      target: production
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./httpd/htdocs:/usr/local/apache2/htdocs
    networks:
      - frontend
    depends_on:
      - postgres
      - api
    profiles:
      - prod

  blog:
    build:
      context: .
      dockerfile: ./web/blog/Dockerfile
      target: production
    networks:
      - frontend
    depends_on:
      - apache
    profiles:
      - prod

  lobo:
    build:
      context: .
      dockerfile: ./web/lobo/Dockerfile
      target: production
    volumes:
      - ./httpd/htdocs/lobo:/app/build
    networks:
      - frontend
    depends_on:
      - apache
    profiles:
      - prod

  www:
    build:
      context: .
      dockerfile: ./web/www/Dockerfile
      target: production
    volumes:
      - ./httpd/htdocs/www:/app/build
    networks:
      - frontend
    depends_on:
      - apache
    profiles:
      - prod

  mc:
    build:
      context: .
      dockerfile: ./web/mc/Dockerfile
      target: production
    volumes:
      - ./httpd/htdocs/mc:/app/build
    networks:
      - frontend
    depends_on:
      - apache
    profiles:
      - prod

  apache-dev:
    build:
      context: .
      dockerfile: ./httpd/Dockerfile
      target: development
    ports:
      - 80:80
    volumes:
      - ./httpd/htdocs:/usr/local/apache2/htdocs
    networks:
      - frontend
    depends_on:
      - postgres
      - api-dev
    profiles:
      - dev

  blog-dev:
    build:
      context: .
      dockerfile: ./web/blog/Dockerfile
      target: development
    volumes:
      - ./web/blog/src:/app/src
    ports:
      - 3000:3000
    networks:
      - frontend
    profiles:
      - dev

  lobo-dev:
    build:
      context: .
      dockerfile: ./web/lobo/Dockerfile
      target: development
    volumes:
      - ./web/lobo/src:/app/src
    ports:
      - 3001:3000
    networks:
      - frontend
    profiles:
      - dev

  www-dev:
    build:
      context: .
      dockerfile: ./web/www/Dockerfile
      target: development
    volumes:
      - ./web/www/src:/app/src
    ports:
      - 3002:3000
    networks:
      - frontend
    profiles:
      - dev

  mc-dev:
    build:
      context: .
      dockerfile: ./web/mc/Dockerfile
      target: development
    volumes:
      - ./web/mc/src:/app/src
    ports:
      - 3003:3000
    networks:
      - frontend
    profiles:
      - dev

  api-dev:
    build:
      context: .
      target: development
      dockerfile: ./api/Dockerfile
    volumes:
      - ./api:/src
      - /src/node_modules
    ports:
      - 4000:3000
    env_file:
      - ./api/.env
    networks:
      - backend
      - frontend
    depends_on:
      - postgres
    profiles:
      - dev
      - api

  api:
    build:
      context: .
      target: production
      dockerfile: ./api/Dockerfile
    volumes:
      - ./api:/src
      - /src/node_modules
    env_file:
      - ./api/.env
    networks:
      - backend
      - frontend
    depends_on:
      - postgres
    profiles:
      - prod

  postgres:
    image: postgres:14.1-alpine
    ports:
      - 5432:5432
    env_file:
      - ./db/.env
    volumes:
      - ./db/sql:/docker-entrypoint-initdb.d/
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend
    profiles:
      - prod
      - dev
      - api

  redis:
    image: redis:7-alpine
    ports:
      - 6379:6379
    networks:
      - backend
    profiles:
      - prod
      - dev
      - api

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge

volumes:
  postgres_data:
